/* Validation errors */
input.error,select.error,textarea.error{
    border: solid 1px red;
}
.error-desc{
    background: red;
    padding: 5px;
    color: white;
}
span.error-msg{
    color: red;
    display: block;
}