
.success {
    padding: 15px 0px;
    margin-bottom: 15px;
    background: #E4F1C9;
    border: 1px solid #A5BD71;
    font-size: 12px;
    text-align: center;
}
.warning {
    padding: 15px 0px;
    margin-bottom: 15px;
    background: #FFDFE0;
    border: 1px solid #FF9999;
    font-size: 12px;
    text-align: center;
}
.attention {
    padding: 15px 0px;
    margin-bottom: 15px;
    background: #FEFBCC;
    border: 1px solid #E6DB55;
    font-size: 12px;
    text-align: center;
}
.box {
    margin-bottom: 15px;
}
.box > .heading {
    height: 40px;
    background: url('../images/box_center.png') repeat-x;
    margin-bottom: 0px;
}
.box > .left {
    float: left;
    width: 7px;
    height: 40px;
    background: url('../images/box_left.png') no-repeat;
}
.box > .right {
    float: right;
    width: 7px;
    height: 40px;
    background: url('../images/box_right.png') no-repeat;
}
.box > .heading h1 {
    background-position:  2px 9px;
    background-repeat: no-repeat;
    margin: 0px;
    padding: 11px 0px 11px 30px;
    color: #003A88;
    font-size: 16px;
    float: left;
}
.box > .heading .buttons {
    float: right;
    padding-top: 8px;
}
.box > .content {
    padding-top: 10px;
    min-height: 150px;
}
/*.button {
    padding-left: 8px;
    display: inline-block;
    margin-right: 5px;
    background: url('../images/button_left.png') top left no-repeat;
    text-decoration: none;
}
.button span {
    color: #FFF;
    display: block;
    padding: 5px 10px 5px 2px;
    background: url('../images/button_right.png') top right no-repeat;
}*/

.button {
    border: solid 1px #b23b16;
    background: #cc471e url(../images/button_orange.png) repeat-x;
    padding: 5px 10px;
    color: #ffffff!important;
    font-size: 14px;
    text-shadow: 0 1px 0 #b23b16;
    display: inline-block;
    text-align: center;
    box-shadow: 0 1px 0 #ccc;
}



.list {
    border-collapse: collapse;
    width: 100%;
    border-top: 1px solid #DDDDDD;
    /*border-left: 1px solid #DDDDDD;*/
    margin-bottom: 20px;
    table-layout: fixed;
}
.list td {
    /*border-right: 1px solid #DDDDDD;*/
    border-bottom: 1px solid #DDDDDD;
    text-align: left;
    padding: 7px;
}
.list thead td {
    background-color: #EFEFEF;
}
.list thead td a, .list thead td {
    text-decoration: none;
    color: #222222;
    font-weight: bold;
}
.list tbody a {
    text-decoration: underline;
}
.list tbody td {
    vertical-align: middle;
}
.list tbody tr:odd {
    background: #FFFFFF;
}
.list tbody tr:even {
    background: #E4EEF7;
}

.list .right {
    text-align: right;
    padding: 7px;
}
.list .center {
    text-align: center;
    padding: 7px;
}
.list .asc {
    padding-right: 15px;
    background: url('../images/asc.png') right center no-repeat;
}
.list .desc {
    padding-right: 15px;
    background: url('../images/desc.png') right center no-repeat;
}
.list .filter td {
    padding: 5px;
    background: #E7EFEF;
}
.pagination {
    margin-top: 30px;
    border-top: 1px solid #EEEEEE;
    background: #F8F8F8;
    display: inline-block;
    width: 100%;
}
.pagination .links, .pagination .results {
    padding: 9px;
}
.pagination .links {
    float: left;
}
.pagination .links a {
    border: 1px solid #CCCCCC;
    padding: 4px 7px;
    text-decoration: none;
    color: #000000;
}
.pagination .links b {
    border: 1px solid #CCCCCC;
    padding: 4px 7px;
    text-decoration: none;
    color: #000000;
    background: #FFFFFF;
}
.pagination .results {
    float: right;
}
.form {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 0px;
}
table.form tr td:first-child {
    width: 200px;
}
.form > * > * > td {
    padding: 10px;
    color: #000000;
    border-bottom: 1px dotted #CCCCCC;
    vertical-align: middle;
}
.form textarea{
    width: 500px;
}
.form input[type=text],.form input[type=password]{
    width: 300px;
}
.help {
    color: #999;
    font-size: 10px;
    font-weight: normal;
    font-family: Verdana, Geneva, sans-serif;
    display: block;
}
.required {
    color: #FF0000;
    font-weight: bold;
}
.error {
    color: #FF0000;
    padding-top: 3px;
    display: block;
    font-size: 12px;
    font-weight: normal;
}
.scrollbox {
    border: 1px solid #CCCCCC;
    width: 350px;
    height: 100px;
    background: #FFFFFF;
    overflow-y: scroll;
}
.htabs {
    padding: 0px 0px 0px 10px;
    height: 30px;
    border-bottom: 1px solid #DDDDDD;
    margin-bottom: 15px;
}
.htabs a {
    border-top: 1px solid #DDDDDD;
    border-left: 1px solid #DDDDDD;
    border-right: 1px solid #DDDDDD;
    background: #FFFFFF url('../images/tab.png') repeat-x;
    padding: 6px 15px 7px 15px;
    float: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    color: #000000;
    margin-right: 5px;
}
.htabs a.selected {
    padding-bottom: 8px;
    background: #FFFFFF;
}
.vtabs {
    width: 180px;
    padding: 10px 0px;
    min-height: 400px;
    float: left;
    display: block;
    border-right: 1px solid #DDDDDD;
}
.vtabs a {
    display: block;
    float: left;
    width: 150px;
    margin-bottom: 5px;
    clear: both;
    border-top: 1px solid #DDDDDD;
    border-left: 1px solid #DDDDDD;
    border-bottom: 1px solid #DDDDDD;
    background: #F7F7F7;
    padding: 6px 14px 7px 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    font-weight: bold;
    text-align: right;
    text-decoration: none;
    color: #000000;
}
.vtabs a.selected {
    padding-right: 15px;
    background: #FFFFFF;
}
.vtabs-content{
    margin-left: 205px;
}
.vtabs_page {
    margin-left: 195px;
}
.scrollbox div {
    padding: 3px;
}
.scrollbox div input {
    margin: 0px;
    padding: 0px;
    margin-right: 3px;
}
.scrollbox div.even {
    background: #FFFFFF;
}
.scrollbox div.odd {
    background: #E4EEF7;
}
.sys-info{
    background: transparent url(../images/sys_info_body.gif) repeat-x;
    height: 37px;
    margin-bottom: 10px;
}


/* Botones */
.buttonst .button_left {
    width: 30px;
    height: 30px;
    display: block;
    float: left;
}
.buttonst .button_middle {
    background: url('../images/button_middle.png') repeat-x;
    padding-top: 8px;
    padding-bottom: 8px;
    display: block;
    float: left;
    color: #333333;
}
a.buttonst, a.button:visited {
    text-decoration: none;
}
a.buttonst:hover {
    text-decoration: underline;
}
img{
    border: 0;
}
h3{
    padding: 8px;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 14px;
    background: #f1f1f1;
    color: #003A88;
}
.buttonst .button_right {
    width: 15px;
    height: 30px;
    background: url('../images/button_right2.png') no-repeat;
    display: block;
    float: left;
}
.buttonst .button_insert {
    background: url('../images/button_insert.png') no-repeat;
}
.buttonst .button_delete {
    background: url('../images/button_delete.png') no-repeat;
}
.buttonst .button_save {
    background: url('../images/button_save.png') no-repeat;
}
.buttonst .button_search {
    background: url('../images/button_search.png') no-repeat;
}
.buttonst .button_cancel {
    background: url('../images/button_cancel.png') no-repeat;
}
.buttonst .button_send {
    background: url('../images/button_send.png') no-repeat;
}
.buttonst .button_back {
    background: url('../images/button_back.png') no-repeat;
}
.buttonst .button_login {
    background: url('../images/button_login.png') no-repeat;
}
.buttonst .button_import {
    background: url('../images/button_import.png') no-repeat;
}
.buttonst .button_export {
    background: url('../images/button_export.png') no-repeat;
}
.buttonst .button_invoice {
    background: url('../images/button_invoice.png') no-repeat;
}
.buttonst .button_print {
    background: url('../images/button_print.png') no-repeat;
}
.button_order {
    background: url('../images/button_order.png') no-repeat;
}

.img-cont{
    float: left;
    width: auto;
    padding: 5px;
    margin: 0 4px 4px 0px;
    background: #f1f1f1;
    border: solid 1px #dddddd;
    text-align: center;
}
.img-cont a{
    display: block;
    font-size: 11px;
    text-decoration: none;
}
#img_cont{
    float: left;
    width: 100%;
}
.img-upload{
    width: auto;
    clear: both;
    float: left;
    padding: 4px;
    background: #f1f1f1;
    border: solid 1px #dddddd;
    margin: 3px 0;
}
.error-msg{
    margin: 5px;
    padding: 10px; 
    border: solid 1px #CC0000; 
    background: #fde8e9;
    background-image: url(../images/error.png);
    background-repeat: no-repeat;
    background-position: 10px center;
    padding-top: 14px;
    min-height: 22px;
    margin-top: 0;
    padding-left: 43px;
    color: #CC0000;
    font-size: 14px;
    /*position: absolute;
    right: 0px;
    top: 39px;
    z-index: 100;
    width: 600px;*/
    margin-bottom: 10px;
    display: none;
    cursor: pointer;
}
.sys-msg{
    padding: 10px; 
    margin-bottom: 10px;
    border: solid 1px #78A427; 
    background: #e8f2ea;
    background-image: url(../images/information.png);
    background-repeat: no-repeat;
    background-position: 10px center;
    padding-top: 14px;
    min-height: 22px;
    padding-left: 43px;
    font-size: 16px;
    /*position: absolute;
    right: 0px;
    top: 39px;
    z-index: 100;
    width: 600px;*/
    margin-top: 0;
    margin-bottom: 10px;
    cursor: pointer;
    display: none;
}
.information{
    background-image: url(../images/information.png);
    background-repeat: no-repeat;
    background-position: center left;
    height: 22px;
    padding-left: 27px;
    width: 170px;
    padding-top: 7px;
    margin: 10px 43%;   
}
.options-tab{
    text-align: right;
    width: 130px;
}
.edit{
    width: 400px;
}
.full-edit{
    width: 400px;
}
.del-link{
    height: 16px;
    width: 16px;
    background-image: url(../images/delete.png);
    background-repeat: no-repeat;
    margin-left: 15px;
    padding-left: 19px;
}
.pos-value{
    margin: 0 0 5px 0;
}

.listbox{
    width:200px;
    height:100px;
    overflow: auto;
    border:1px #CCC solid;
    float:left;
    margin:4px;
}
.listbox li{
    list-style:none; 
}
.listbox li:hover{
    background-color :#58ACFA;
}
.listbox li input{
    display: none;
}
.listbox .select_item{
    background-color :#045FB4; 
} 

#tooltip {
    background-color:#FFFFCC;
    border:1px solid #FED26E;
    display:none;
    font-size:11px;
    height:auto;
    left:0;
    opacity:0.8;
    padding:5px;
    position:absolute;
    text-align:left;
    top:0;
    width:100px;
}
.heading h1{
    background: transparent url(../images/inner_head_small.png) no-repeat!important;
    padding: 7px 20px 10px 80px;
    font-size: 20px;
    color: #ffffff;
    margin-bottom: 15px;
}
.heading .buttons{
    margin: 0 15px 10px 15px;
    text-align: right;
}
.form td.title{
    font-weight: bold;
    font-size: 14px;
    background: #f0f0f0;
}
.validate_error{
    border: solid 1px red;
}

ul.left {
    float: left;
}
ul.right {
    float: right;
}
.nav {
    position: relative;
    margin: 0;
    padding: 0;
}
.nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    background: url('../images/transparent.png');
}
.nav a {
    display: block;
    color: #FFFFFF;
    text-decoration: none;
    padding: 5px;
}
.nav > li + li {
    background: url('../images/split.png') center left no-repeat;
}
.nav .top, .nav li li.sfhover {
    padding: 10px 15px 9px 17px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #FFFFFF;
    text-align: center;
}
.nav ul li {
    padding: 2px;
}
.nav .selected .top {
    background: url('../images/selected.png') repeat-x;
    color: #FFFFFF;
}
/*.nav .top:hover{
    background: url('../images/selected.png') repeat-x;
}*/
.nav .selected:hover a.top, .nav .sfhover a.top {
}
.nav .parent {
    background: url('../images/arrow_right.png') 95% center no-repeat;
}
.nav li {
    float: left;
    list-style: none;
}
.nav li ul {
    position: absolute;
}
.nav li li {
    clear: both;
}
.nav li ul a {
    color: #FFFFFF;
    height: 15px;
    width: 200px;
}
.nav li ul ul {
    margin: -27px 0 0 157px;
}
.nav li li:hover, .nav li li.sfhover {
    background: #333;
    color: #000000;
}

/*   Agregados   */
.validate_error{
    border: solid 1px red!important;
}

.error-msg{
    margin: 5px;
    padding: 10px; 
    border: solid 1px #fcd2d3; 
    background: #fde8e9;
    background-image: url(../images/error.png);
    background-repeat: no-repeat;
    background-position: 10px center;
    padding-top: 18px;
    min-height: 22px;
    padding-left: 43px;
}
.sys-msg{
    padding: 10px; 
    margin-bottom: 10px;
    border: solid 1px #d1e5d6; 
    background: #e8f2ea;
    background-image: url(../images/information.png);
    background-repeat: no-repeat;
    background-position: 10px center;
    padding-top: 18px;
    min-height: 22px;
    padding-left: 43px;
}
.errors{
    border: 2px solid #F76C31;
    background-color: #FFCCB5;
    padding: 10px;
    font-size: 13px;
    display: none;
    margin-top: 10px;
    font-weight:bold;
}
.errors .errors_list li{
    list-style: disc inside none;
}


