/** CSS RESET */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline;
}
/* remember to define focus styles! */
:focus {
    outline: 0;
}
body {
    line-height: normal;
    background: white;
}
ol, ul {
    list-style: none;
}
/* tables still need 'cellspacing="0"' in the markup */
table {
    border-collapse: collapse;
    border-spacing: 0;
}
caption, th, td {
    text-align: left;
    font-weight: normal;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: "";
}
blockquote, q {
    quotes: "" "";
}


/* Replace this styles with your own */
body{
    margin: 40px;
}
body,input,textarea{
    font-family: Arial, Tahoma, sans-serif;
    font-size: 12px;
    color: #444444;
    resize: none;
}
h1{
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: solid 1px #ccc;
}
h2{
    font-size: 16px;
    font-weight: normal;
    margin-bottom: 10px;
}
hr{
    background-color: #cccccc;
    color: #cccccc;
    height: 1px;
    margin: 10px 0;
}
p{
    margin-bottom: 10px;
}
table td{
    padding: 5px 7px;
}
table thead td{
    background: #e6e6e6;
    font-weight: bold;
}
ul li{
    padding: 2px 0;
}

