/** CSS RESET */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline;
}
/* remember to define focus styles! */
:focus {
    outline: 0;
}
body {
    line-height: normal;
    background: white;
}
ol, ul {
    list-style: none;
}
/* tables still need 'cellspacing="0"' in the markup */
table {
    border-collapse: collapse;
    border-spacing: 0;
}
caption, th, td {
    text-align: left;
    font-weight: normal;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: "";
}
blockquote, q {
    quotes: "" "";
}
body,input,textarea{
    font-family: Arial, Tahoma, sans-serif;
    font-size: 12px;
    color: #333;
    resize: none;
}
a{
    text-decoration: none;
    color: #093f51;
}
a,a:visited,a:active{
    color: #36637b;
}
strong{
    font-weight: bold;
}
input,textarea{
    border: solid 1px #ccc;
    padding: 4px;
    font-family: Arial, Tahoma, sans-serif;
}
select{
    font-family: Arial, Tahoma, sans-serif;
    font-size: 12px;
    padding: 3px;
    border: solid 1px #ccc;
}
body{
    color: #333333;
    font-size: 12px;
    background: #e6e6e6 url(../images/back_pattern.jpg) repeat;
}
#wrapper{
    overflow: auto;
    background: transparent url(../images/back_img.png) no-repeat top center;
    min-height: 500px;
}
#wrapper_inner{
    overflow: auto;
    background: transparent url(../images/header_back.png) repeat-x;
    min-height: 500px;
}

#container{
    width: 980px;
    min-height: 100%;
    margin: 0 auto!important;
    overflow: auto;
    position: relative;
}
#header{
    min-height: 147px;
    position: relative;
}
#logo{
    width: 280px;
    height: 144px;
    float: left;
    background: url(../images/logo.png) no-repeat;
}
#main_cont{
    background: #ffffff;
    min-height: 600px;
    box-shadow: 0 0 6px 0 #bbb;
    margin: 0 5px 5px 5px;
    width: 970px;
    padding-top: 5px;
    float: left;
}
#header .middle-menu{
    position: absolute;
    top: 50px;
    right: 258px;
}
#header .middle-menu a:first-child{
    border-radius: 3px 0 0 3px;
    margin-right: -1px;
}
#header .middle-menu a{
    float: left;
    border: solid 1px #cdcdcb;
    z-index: 100;
    color: #4c4c4b;
    font-size: 12px;
    font-weight: bold;
    padding: 6px 15px;
    background: transparent url(../images/search_bar_button.png) repeat-x;
}
#header .middle-menu a:hover,#header .middle-menu a.selected{
    background: transparent url(../images/search_bar_button_hover.png) repeat-x;
    color: #333;
}
#header .search{
    position: absolute;
    width: 249px;
    height: 29px;
    top: 50px;
    right: 10px;
    background: transparent url(../images/search_box.png) no-repeat; 
}
#header .search input{
    background: none;
    border: none;
    width: 200px;
    margin: 3px 0 0 5px;
}
#top_menu{
    position: absolute;
    top: 14px;
    right: 20px;
    color: #6c6b6b;
}
#top_menu .text{
    margin-right: 13px;
}
#top_menu a{
    margin: 0 5px 0 5px;
}
#top_menu a:hover{
    text-decoration: underline;
}
#header #main_menu{
    position: absolute;
    right: 50px;
    bottom: 23px;
}
#main_menu a{
    color: #4c4c4b;
    font-size: 18px;
    text-shadow: 0 1px 0 #ffffff;
    float: left;
    margin-left: 25px;
    font-weight: normal;
    position: relative;
}
#main_menu a:hover{
    color: #000000;
}
#main_menu a.selected{
    color: #e83d02!important;
    font-weight: bold;
}
#main_menu a .sel{
    height: 19px;
    width: 100%;
    position: absolute;
    bottom: -23px;
    background: transparent url(../images/menu_selected.png) repeat;
}

#footer{
    min-height: 115px;
    background: transparent url(../images/footer_back_1.png) repeat-x left bottom;
    width: 970px;
    margin-left: 5px;
    margin-bottom: 8px;
    margin-top: 10px;
    float: left;
}
#footer .col{
    float: left;
    margin: 15px 0 0 15px;
    width: 220px;
}
#footer .col a{
    display: block;
    padding: 3px 0;
    color: #474646;
}
#footer .col a:hover{
    color: #000000;
}
#footer .col h1{
    color: #474646;
    font-size: 20px;
    text-shadow: 0 1px 0 #ffffff;
    padding-bottom: 8px;
    border-bottom: solid 1px #b1afa3;
    margin-bottom: 7px;
}
#footer_lower{
    min-height: 50px;
    background: transparent url(../images/footer_back_2.png) repeat-x;
    width: 970px;
    margin-left: 5px;
    color: #474646;
    text-shadow: 0 1px 0 #ffffff;
    float: left;
}
.ec-items{
    float: right;
    width: 370px;
}
.ec-items a{
    display: block;
    padding: 10px 0 10px 10px;
    background: #e2e2e2 url(../images/ec_item.png) repeat-x left bottom;
    border-top: solid 1px #e9e9e9;
    overflow: auto;
}
.ec-items a.selected{
    background: #093f51 url(../images/ec_item_sel.png) repeat-x left bottom;
}

.ec-items a span.desc{
    display: table-cell;
    color: #333333;
    font-size: 14px;
    margin-top: 5px;
}
.ec-items a img{
    float: left;
    border: solid 1px #ffffff;
    margin-right: 24px;
}
.ec-items a span.desc span.title{
    float: left;
    width: 100%;
    display: block;
    margin-top: 5px;
    text-shadow: 0 1px 0 #bdbdbd;
}
.ec-items a.selected span.desc span.title{
    color: #ffffff!important;
}
.ec-items a.selected:first-child{
    border-top: solid 1px #093f51;
}
.ec-items a span.desc span.info{
    font-size: 12px;
    color: #2b9fc5;
    display: block;
    margin-top: 7px;
}
.ec-cont{
    width: 599px;
    float: left;
    height: 345px;
    position: relative;
    overflow: hidden;
}
.ec-desc{
    position: absolute;
    bottom: 0;
    background: transparent url(../images/black_65.png) repeat;
    width: 100%;
}
.ec-desc h3{
    font-size: 20px;
    color: #ffffff;
    font-weight: bold;
    margin: 15px 0 5px 15px;
    padding: 0;
    background: transparent;
}
.ec-desc h4{
    font-size: 14px;
    opacity: 0.7;
    margin: 0 0 15px 15px;
    padding: 0;
    color: #ffffff;
    background: transparent;
}
#info_cont{
    width: 950px;
    margin: 10px;
    float: left;
}
a.blue-button{
    color: #ffffff;
    background: #084051 url(../images/header_blue.png) repeat-x left bottom;
    font-size: 16px;
    font-weight: bold;
    padding: 15px 18px;
    text-shadow: 0 1px 0px #031d25;
    margin-bottom: 5px;
    display: block;
}

h3.blue{
    color: #ffffff;
    background: #084051 url(../images/header_blue.png) repeat-x left bottom;
    font-size: 16px;
    padding: 15px 18px;
    text-shadow: 0 1px 0px #031d25;
}
h3.blue a{
    float: right;
    color: #1d81a3;
    font-size: 12px;
    margin-top: 2px;
    font-weight: bold;
}
h3.green{
    color: #ffffff;
    background: #688928 url(../images/header_green.png) repeat-x left bottom;
    font-size: 16px;
    padding: 15px 18px;
    text-shadow: 0 1px 0px #35490d;
    clear: both;
}
h3.green a{
    float: right;
    color: #a4d249;
    font-size: 12px;
    margin-top: 2px;
    font-weight: bold;
}

h3.normal{
    color: #333333;
    background: #ffffff url(../images/header_normal.png) repeat-x left bottom;
    font-size: 16px;
    padding: 15px 18px;
    text-shadow: 0 1px 0px #ccc;
    clear: both;
}
h3.normal a{
    float: right;
    color: #929292;
    font-size: 12px;
    margin-top: 2px;
}

.blue-cont{
    float: left;
    width: 100%;
    background: #093f51;
}
.blue-cont .item{
    margin: 10px;
    border-bottom: solid 1px #1a4d5d;
}
.blue-cont .item:last-child{
    border-bottom: none;
}
.blue-cont .item span.date{
    font-size: 12px;
    display: block;
    color: #2b9fc5;
    margin-bottom: 4px;
}
.blue-cont .filter{
    padding-bottom: 10px;
}
.blue-cont .filter input[type=text],.blue-cont .filter input[type=password]{
    display: block;
    padding: 6px 5px;
    border: solid 1px #073240;
    font-size: 14px;
    margin-top: 10px;
}
.blue-cont .filter:last-child{
    border-bottom: none!important;
}
.blue-cont .item .filter-title{
    color: #beecfb;
    margin-bottom: 4px;
}
.blue-cont .item .filter-list{
    font-size: 14px;
    padding: 2px 0 2px 20px;
    background: transparent url(../images/blue_bullet.png) no-repeat center left;
    color: #ffffff;
}
.blue-cont .item .filter-list a.quitar{
    display: block;
    width: 10px;
    height: 10px;
    position: absolute;
    right: 7px;
    top: 7px;
    background: transparent url(../images/quitar_filtro.png) no-repeat;
}
.blue-cont .item .filter-list a.quitar:hover{
    background: transparent url(../images/quitar_filtro_over.png) no-repeat;
}
.blue-cont .item .filter-list a:hover{
    text-decoration: underline;
}
.blue-cont .item .filter-list.selected{
    background: #2B9FC5!important;
    padding-top: 4px;
    padding-bottom: 4px;
    border-radius: 2px;
    font-weight: bold!important;
    text-shadow: 0 1px 0 #31B7E0;
    margin-right: 15px;
    color: #042A37;
    position: relative;
    padding-left: 10px;
}
.blue-cont .item a.title{
    font-size: 16px;
    color: #ffffff;
    display: block;
    margin-bottom: 3px;
}
.blue-cont .item a.title:hover{
    text-decoration: underline;
}
.blue-cont .item span.desc{
    color: #beecfb;
    font-size: 12px;
    display: block;
    margin-bottom: 15px;
}
.blue-cont a.button{
    display: block;
    background: transparent url(../images/button_blue.png) repeat-x;
    border: solid 1px #073544;
    box-shadow: 0px 1px 0 #093c4d;
    padding: 10px 13px;
    text-align: center;
    color: #fff;
    font-size: 16px;
    text-shadow: 0px -1px 0 #072731;
}
.blue-cont a.button:hover{
    background: #0d5973 url(../images/button_blue_hover.png) repeat-x;
}

.trans-cont{
    float: left;
    width: 100%;
}
.trans-cont .item{
    margin: 10px;
    border-bottom: solid 1px #dedede;
    overflow: auto;
}
.trans-cont .not{
    padding-bottom: 10px;
    margin-left: 0;
    margin-right: 0;
}
.trans-cont .not a.title{
    margin-top: 10px;
}
.trans-cont .item:last-child{
    border-bottom: none;
}
.trans-cont .item span.date{
    font-size: 12px;
    display: block;
    color: #2b9fc5;
    margin-bottom: 4px;
}
.trans-cont .item a.title{
    font-size: 16px;
    color: #333333;
    display: block;
    margin-bottom: 3px;
}
.trans-cont .item a.title:hover{
    text-decoration: underline;
}
.trans-cont .item span.desc{
    color: #808080;
    font-size: 12px;
    display: block;
    margin-bottom: 15px;
}
.trans-cont img{
    float: left;
    margin-right: 10px;
}
.trans-cont div.info{
    display: table-cell;
}
.trans-cont .item.preferente{
    padding: 10px;
    background: #fefccf;
    border: solid 1px #e8e398;
    border-radius: 3px;
}
.trans-cont .item.preferente .right-det{
    right: 10px;
}
.inner-head{
    height: 88px;
    background: transparent url(../images/inner_head.png) no-repeat;
    position: relative;
}
.inner-head-small{
    height: 39px;
    background: transparent url(../images/inner_head_small.png) no-repeat;
    position: relative;
}
.inner-head h1{
    position: absolute;
    background: none;
    color: #ffffff;
    bottom: 0;
    right: 20px;
    font-size: 44px;
    text-transform: uppercase;
}
.inner-head .breadcrumb{
    position: relative;
    top: 8px;
    left: 185px;
    color: #a9dc4c;
    float: left;
}
.inner-head-small .breadcrumb{
    position: relative;
    top: 8px;
    left: 70px;
    color: #a9dc4c;
    float: left;
}
.breadcrumb span.location{
    font-size: 11px;
}
.breadcrumb a{
    font-size: 11px;
    font-size: 20px;
    margin: 0 5px 0 5px;
    color: #a9dc4c;
    text-transform: lowercase;
}
.breadcrumb a.cur{
    color: #fff;
}
.breadcrumb span.sep{
    font-family: courier;
    font-size: 20px;
    width: 7px;
    height: 12px;
    background: transparent url(../images/bc_sep.png) no-repeat center;
}
.inner-head img.image{
    position: absolute;
    left: 18px;
    top: 5px;
    float: left;
}

.trans-cont.inner div.info{
    width: 250px;
}
.trans-cont.inner .item{
    position: relative;
} 
.trans-cont.inner .right-det{
    position: absolute;
    right: 0;
    top: 7px;
    font-size: 11px;
    color: #808080;
    width: 100px;
    text-align: right;
}
.trans-cont.inner .right-det .big{
    font-size: 32px;
    color: #093f51;
}

div.mosaic-cont{
    background: #e5e5e5;
    width: 100%;
    padding-bottom: 10px;
    overflow: auto;
}
div.mosaic-cont a{
    float: left;
    margin: 10px 0 0 9px;
}
h2{
    font-size: 26px;
    text-transform: uppercase;
    padding-bottom: 7px;
    border-bottom: solid 1px #d9d9d9;
    margin-bottom: 25px;
    padding-top: 6px;
    padding-left: 5px;
}
p.desc{
    font-size: 12px;
    margin-bottom: 15px;
    
}
span.med{
    font-size: 20px;
    color: #333333;
}
a.green-button{
    border: solid 1px #637d33;
    background: #709825 url(../images/button_green.png) repeat-x;
    padding: 5px 10px;
    color: #ffffff;
    font-size: 14px;
    text-shadow: 0 1px 0 #637d33;
    display: block;
    text-align: center;
    box-shadow: 0 1px 0 #ccc;
}
a.orange-button{
    border: solid 1px #b23b16;
    background: #cc471e url(../images/button_orange.png) repeat-x;
    padding: 5px 10px;
    color: #ffffff;
    font-size: 14px;
    text-shadow: 0 1px 0 #b23b16;
    display: block;
    text-align: center;
    box-shadow: 0 1px 0 #ccc;
}
div.reservar-cont{
    position: absolute;
    right: 0;
    bottom: 10px;
    width: 100px;
}
table.totals td{
    padding: 5px 5px;
}
.totals .field{
    font-size: 14px;
    color: #333;
    text-align: left;
}
.totals td{
    vertical-align: middle;
}
.totals .val{
    color: #333333;
    font-size: 16px;
}
.totals .val select{
    width: 200px;
}
.totals .val input[type=text],.totals .val input[type=password]{
    width: 250px;
}
.totals .sep{
    padding: 12px 18px;
    background: transparent url(../images/header_normal.png) repeat-x;
    font-size: 16px;
    border-top: solid 1px #e6e6e6;
    font-weight: bold;
    border-bottom: solid 1px #ccc;
}
.comment{
    float: left; width: 100%;
    padding-bottom: 17px; border-bottom: dashed 1px #cccccc;
    margin-bottom: 17px;
    position: relative;
}
.comment .title{
    font-weight: bold;
    margin-bottom: 5px;
}
.comment .author{
    color: #808080;
    font-size: 11px;
    margin-bottom: 3px;
}
.comment .text{
    
}
.comment .stars{
    top: 0px;
    right: 5px;
    position: absolute;
}
div.content{
    margin: 10px 15px 15px 15px;
}
div.content h2{
    margin-bottom: 10px;
}
div.content div.buttons{
    margin-bottom: 10px;
    text-align: right;
}
table.paquete td input[type=text],table.paquete td select{
    width: 90%;
}

.admin_menu_cont{
    background: #333;
    float: left;
    width: 100%;
    margin-bottom: 10px;
    position: fixed;
    z-index: 1000;
}

.indicators{
    padding: 15px 0 15px 0;
    background: #e6e6e6;
    overflow: auto;
}
.indicators .ind_cont td{
    padding: 0 0 0 20px;
}
.indicators .value{
    font-size: 30px;
    font-weight: bold;
    color: #333;
}
.indicators .title{
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 6px;
    color: #999;
}
table.list :not(thead) tr:last-child td{
    border-bottom: none;
}

h4{
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 15px;
}
div.search-result{
    margin-top: 8px;
    margin-bottom: 5px;
    font-size: 16px;
    padding: 10px;
    background: #f0f0f0;
}
div.dym{
    margin-top: 7px;
    font-style: italic;
}
div.dym a{
    font-weight: bold;
    text-decoration: underline;
    color: red;
}
.art-image .image-footer{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #000000;
    opacity: 0.8;
    color: #ffffff;
}
.art-image .image-footer span{
    margin: 6px 10px;
    display: block;
}

input[readonly]{
    background: #f0f0f0;
}

div.promo{
    width: 83px;
    height: 83px;
    background: transparent url(../images/promo.png) no-repeat;
    position: absolute;
    left: -4px;
    top: -4px;
}
.bx-wrapper{
    float: left;
}

.success {
   padding: 15px 0px;
   margin-bottom: 15px;
   background: #E4F1C9;
   border: 1px solid #A5BD71;
   font-size: 12px;
   text-align: center;
}
.warning {
   padding: 15px 0px;
   margin-bottom: 15px;
   background: #FFDFE0;
   border: 1px solid #FF9999;
   font-size: 12px;
   text-align: center;
}
.attention {
   padding: 15px 0px;
   margin-bottom: 15px;
   background: #FEFBCC;
   border: 1px solid #E6DB55;
   font-size: 12px;
   text-align: center;
}
.box {
   margin-bottom: 15px;
}
.box > .heading {
   height: 40px;
   background: url('../images/box_center.png') repeat-x;
   margin-bottom: 0px;
}
.box > .left {
   float: left;
   width: 7px;
   height: 40px;
   background: url('../images/box_left.png') no-repeat;
}
.box > .right {
   float: right;
   width: 7px;
   height: 40px;
   background: url('../images/box_right.png') no-repeat;
}
.box > .heading h1 {
   background-position:  2px 9px;
   background-repeat: no-repeat;
   margin: 0px;
   padding: 11px 0px 11px 30px;
   color: #003A88;
   font-size: 16px;
   float: left;
}
.box > .heading .buttons {
   float: right;
   padding-top: 8px;
}
.box > .content {
   padding-top: 10px;
   min-height: 150px;
}


.button {
    padding-left: 8px;
    display: inline-block;
    margin-right: 5px;
    background: url('../images/button_left.png') top left no-repeat;
    text-decoration: none;
}
.button span {
    color: #FFF;
    display: block;
    padding: 5px 10px 5px 2px;
    background: url('../images/button_right.png') top right no-repeat;
}


.button {
    border: solid 1px #b23b16;
    background: #cc471e url(../images/button_orange.png) repeat-x;
    padding: 5px 10px;
    color: #ffffff!important;
    font-size: 14px;
    text-shadow: 0 1px 0 #b23b16;
    display: inline-block;
    text-align: center;
    box-shadow: 0 1px 0 #ccc;
}



.list {
    border-collapse: collapse;
    width: 100%;
    border-top: 1px solid #DDDDDD;
    margin-bottom: 20px;
    table-layout: fixed;
}
.list td {
    border-bottom: 1px solid #DDDDDD;
    text-align: left;
    padding: 7px;
}
.list thead td {
    background-color: #EFEFEF;
}
.list thead td a, .list thead td {
    text-decoration: none;
    color: #222222;
    font-weight: bold;
}
.list tbody a {
    text-decoration: underline;
}
.list tbody td {
    vertical-align: middle;
}
.list tbody tr:odd {
    background: #FFFFFF;
}
.list tbody tr:even {
    background: #E4EEF7;
}

.list .right {
    text-align: right;
    padding: 7px;
}
.list .center {
    text-align: center;
    padding: 7px;
}
.list .asc {
    padding-right: 15px;
    background: url('../images/asc.png') right center no-repeat;
}
.list .desc {
    padding-right: 15px;
    background: url('../images/desc.png') right center no-repeat;
}
.list .filter td {
    padding: 5px;
    background: #E7EFEF;
}
.pagination {
    margin-top: 30px;
    border-top: 1px solid #EEEEEE;
    background: #F8F8F8;
    display: inline-block;
    width: 100%;
}
.pagination .links, .pagination .results {
    padding: 9px;
}
.pagination .links {
    float: left;
}
.pagination .links a {
    border: 1px solid #CCCCCC;
    padding: 4px 7px;
    text-decoration: none;
    color: #000000;
}
.pagination .links b {
    border: 1px solid #CCCCCC;
    padding: 4px 7px;
    text-decoration: none;
    color: #000000;
    background: #FFFFFF;
}
.pagination .results {
    float: right;
}
.form {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 0px;
}
table.form tr td:first-child {
    width: 200px;
}
.form > * > * > td {
    padding: 10px;
    color: #000000;
    border-bottom: 1px dotted #CCCCCC;
    vertical-align: middle;
}
.form textarea{
    width: 500px;
}
.form input[type=text],.form input[type=password]{
    width: 300px;
}
.help {
    color: #999;
    font-size: 10px;
    font-weight: normal;
    font-family: Verdana, Geneva, sans-serif;
    display: block;
}
.required {
    color: #FF0000;
    font-weight: bold;
}
.error {
    color: #FF0000;
    padding-top: 3px;
    display: block;
    font-size: 12px;
    font-weight: normal;
}
.scrollbox {
    border: 1px solid #CCCCCC;
    width: 350px;
    height: 100px;
    background: #FFFFFF;
    overflow-y: scroll;
}
.htabs {
    padding: 0px 0px 0px 10px;
    height: 30px;
    border-bottom: 1px solid #DDDDDD;
    margin-bottom: 15px;
}
.htabs a {
    border-top: 1px solid #DDDDDD;
    border-left: 1px solid #DDDDDD;
    border-right: 1px solid #DDDDDD;
    background: #FFFFFF url('../images/tab.png') repeat-x;
    padding: 6px 15px 7px 15px;
    float: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    color: #000000;
    margin-right: 5px;
}
.htabs a.selected {
    padding-bottom: 8px;
    background: #FFFFFF;
}
.vtabs {
    width: 180px;
    padding: 10px 0px;
    min-height: 400px;
    float: left;
    display: block;
    border-right: 1px solid #DDDDDD;
}
.vtabs a {
    display: block;
    float: left;
    width: 150px;
    margin-bottom: 5px;
    clear: both;
    border-top: 1px solid #DDDDDD;
    border-left: 1px solid #DDDDDD;
    border-bottom: 1px solid #DDDDDD;
    background: #F7F7F7;
    padding: 6px 14px 7px 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    font-weight: bold;
    text-align: right;
    text-decoration: none;
    color: #000000;
}
.vtabs a.selected {
    padding-right: 15px;
    background: #FFFFFF;
}
.vtabs-content{
    margin-left: 205px;
}
.vtabs_page {
    margin-left: 195px;
}
.scrollbox div {
    padding: 3px;
}
.scrollbox div input {
    margin: 0px;
    padding: 0px;
    margin-right: 3px;
}
.scrollbox div.even {
    background: #FFFFFF;
}
.scrollbox div.odd {
    background: #E4EEF7;
}
.sys-info{
    background: transparent url(../images/sys_info_body.gif) repeat-x;
    height: 37px;
    margin-bottom: 10px;
}



.buttonst .button_left {
    width: 30px;
    height: 30px;
    display: block;
    float: left;
}
.buttonst .button_middle {
    background: url('../images/button_middle.png') repeat-x;
    padding-top: 8px;
    padding-bottom: 8px;
    display: block;
    float: left;
    color: #333333;
}
a.buttonst, a.button:visited {
    text-decoration: none;
}
a.buttonst:hover {
    text-decoration: underline;
}
img{
    border: 0;
}
h3{
    padding: 8px;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 14px;
    background: #f1f1f1;
    color: #003A88;
}
.buttonst .button_right {
    width: 15px;
    height: 30px;
    background: url('../images/button_right2.png') no-repeat;
    display: block;
    float: left;
}
.buttonst .button_insert {
    background: url('../images/button_insert.png') no-repeat;
}
.buttonst .button_delete {
    background: url('../images/button_delete.png') no-repeat;
}
.buttonst .button_save {
    background: url('../images/button_save.png') no-repeat;
}
.buttonst .button_search {
    background: url('../images/button_search.png') no-repeat;
}
.buttonst .button_cancel {
    background: url('../images/button_cancel.png') no-repeat;
}
.buttonst .button_send {
    background: url('../images/button_send.png') no-repeat;
}
.buttonst .button_back {
    background: url('../images/button_back.png') no-repeat;
}
.buttonst .button_login {
    background: url('../images/button_login.png') no-repeat;
}
.buttonst .button_import {
    background: url('../images/button_import.png') no-repeat;
}
.buttonst .button_export {
    background: url('../images/button_export.png') no-repeat;
}
.buttonst .button_invoice {
    background: url('../images/button_invoice.png') no-repeat;
}
.buttonst .button_print {
    background: url('../images/button_print.png') no-repeat;
}
.button_order {
    background: url('../images/button_order.png') no-repeat;
}

.img-cont{
    float: left;
    width: auto;
    padding: 5px;
    margin: 0 4px 4px 0px;
    background: #f1f1f1;
    border: solid 1px #dddddd;
    text-align: center;
}
.img-cont a{
    display: block;
    font-size: 11px;
    text-decoration: none;
}
#img_cont{
    float: left;
    width: 100%;
}
.img-upload{
    width: auto;
    clear: both;
    float: left;
    padding: 4px;
    background: #f1f1f1;
    border: solid 1px #dddddd;
    margin: 3px 0;
}
.error-msg{
    margin: 5px;
    padding: 10px;
    border: solid 1px #CC0000;
    background: #fde8e9;
    background-image: url(../images/error.png);
    background-repeat: no-repeat;
    background-position: 10px center;
    padding-top: 14px;
    min-height: 22px;
    margin-top: 0;
    padding-left: 43px;
    color: #CC0000;
    font-size: 14px;
    margin-bottom: 10px;
    display: none;
    cursor: pointer;
}
.sys-msg{
    padding: 10px;
    margin-bottom: 10px;
    border: solid 1px #78A427;
    background: #e8f2ea;
    background-image: url(../images/information.png);
    background-repeat: no-repeat;
    background-position: 10px center;
    padding-top: 14px;
    min-height: 22px;
    padding-left: 43px;
    font-size: 16px;
    margin-top: 0;
    margin-bottom: 10px;
    cursor: pointer;
    display: none;
}
.information{
    background-image: url(../images/information.png);
    background-repeat: no-repeat;
    background-position: center left;
    height: 22px;
    padding-left: 27px;
    width: 170px;
    padding-top: 7px;
    margin: 10px 43%;
}
.options-tab{
    text-align: right;
    width: 130px;
}
.edit{
    width: 400px;
}
.full-edit{
    width: 400px;
}
.del-link{
    height: 16px;
    width: 16px;
    background-image: url(../images/delete.png);
    background-repeat: no-repeat;
    margin-left: 15px;
    padding-left: 19px;
}
.pos-value{
    margin: 0 0 5px 0;
}

.listbox{
    width:200px;
    height:100px;
    overflow: auto;
    border:1px #CCC solid;
    float:left;
    margin:4px;
}
.listbox li{
    list-style:none;
}
.listbox li:hover{
    background-color :#58ACFA;
}
.listbox li input{
    display: none;
}
.listbox .select_item{
    background-color :#045FB4;
}

#tooltip {
    background-color:#FFFFCC;
    border:1px solid #FED26E;
    display:none;
    font-size:11px;
    height:auto;
    left:0;
    opacity:0.8;
    padding:5px;
    position:absolute;
    text-align:left;
    top:0;
    width:100px;
}
.heading h1{
    background: transparent url(../images/inner_head_small.png) no-repeat!important;
    padding: 7px 20px 10px 80px;
    font-size: 20px;
    color: #ffffff;
    margin-bottom: 15px;
}
.heading .buttons{
    margin: 0 15px 10px 15px;
    text-align: right;
}
.form td.title{
    font-weight: bold;
    font-size: 14px;
    background: #f0f0f0;
}
.validate_error{
    border: solid 1px red;
}

ul.left {
    float: left;
}
ul.right {
    float: right;
}
.nav {
    position: relative;
    margin: 0;
    padding: 0;
}
.nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    background: url('../images/transparent.png');
}
.nav a {
    display: block;
    color: #FFFFFF;
    text-decoration: none;
    padding: 5px;
}
.nav > li + li {
    background: url('../images/split.png') center left no-repeat;
}
.nav .top, .nav li li.sfhover {
    padding: 10px 15px 9px 17px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #FFFFFF;
    text-align: center;
}
.nav ul li {
    padding: 2px;
}
.nav .selected .top {
    background: url('../images/selected.png') repeat-x;
    color: #FFFFFF;
}

.nav .selected:hover a.top, .nav .sfhover a.top {
}
.nav .parent {
    background: url('../images/arrow_right.png') 95% center no-repeat;
}
.nav li {
    float: left;
    list-style: none;
}
.nav li ul {
    position: absolute;
}
.nav li li {
    clear: both;
}
.nav li ul a {
    color: #FFFFFF;
    height: 15px;
    width: 200px;
}
.nav li ul ul {
    margin: -27px 0 0 157px;
}
.nav li li:hover, .nav li li.sfhover {
    background: #333;
    color: #000000;
}




/*   Agregados   */
.validate_error{
    border: solid 1px red!important;
}

.errors{
    /*border: 2px solid #F76C31;
    background-color: #FFCCB5;
    padding: 10px;
    font-size: 13px;
    display: none;
    margin-top: 10px;
    font-weight:bold;*/
    margin-top: 15px;
}
.errors .errors_list li{
    list-style: disc inside none;
}


