{
"actividad":{
    "image":{
        "table":"actividad_imagen",
        "field":"imagen",
        "width":"500",
        "height":"500"
    }
},
"articulo":{
    "image":{
        "table":"articulo_imagen",
        "field":"imagen",
        "width":"500",
        "height":"500"
    }
},
"usuario":{
    "image":{
        "table":"usuario_imagen",
        "field":"imagen",
        "width":"500",
        "height":"500"
    }
},
"pub_campaign_banner":{
    "image":{
        "field":"imagen",
        "width":"500",
        "height":"500"
    }
},
"actividad_tipo":{
    "image":{
        "field":"imagen",
        "width":"500",
        "height":"500"
    }
}}
